.container{
    display: flex;
}
#navbar{
position: fixed;
display: flex;
flex-direction: column;
border: 2px solid black;
height: 100%;
}
#navbar a{
width: 100%;
border-top: 1px solid black;
}
#navbar a:nth-of-type(5){
border-bottom: 1px solid black;
}
#navbar a button{
width: 100%;
border: none;
height: 50px;
}
#navbar a button:hover{
    background-color: lightgrey;
}
#main-doc{
display: flex;
flex-direction: column;
flex-grow: 1;
padding-left: 350px;
}